<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IServiceStream" maxReceivedMessageSize="67108864" transferMode="Streamed"/>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Service/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="StepChatService.IService" name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Service/Service1/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
                contract="ServiceReference1.IService" name="WSHttpBinding_IService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Service/Service1/stream"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceStream"
                contract="ServiceReference1.IServiceStream" name="BasicHttpBinding_IServiceStream" />
        </client>
    </system.serviceModel>
</configuration>